node_modules
dist
dist-ssr
coverage

.git
.gitignore
.github
.idea
.vscode
.DS_Store
*.sw?
*.swo

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.yaml

.env
.env.*
!.env.example

README.md
